<!DOCTYPE html>
<html>
  <head>
    <script src="//www.rdio.com/api/api.js?client_id=VbZ4G9Z-2iTpsUomxNh68w"></script>
    <script type="text/javascript">
      var trackName = '{{ trackData["track"] }}';
      var artist = '{{ trackData["artist"] }}';

      var playSong = function () {
      R.request({
                method: "search",
                content: {
                        types: "Track",
                        count: 10,
                        query: trackName + ", " + artist
                },
                success: function(response) {
                        var top = response.result.results[0];
                        for (var song in response.result.results)
                          R.player.queue.add(song.key);
                          });
                        R.player.play({source: top.key});
                },
                error: function(response) {
                        console.log("error: " + response.message);
                }
            });
      };

      R.ready(function() {
        if(!R.authenticated()) {
          R.authenticate(function (authenticated) {
          if (authenticated) {
            playSong();
          }
        });
      }
      else {
          playSong();
      }
        
      });

      document.write("<strong>You're listening to</strong>");
      document.write(top.trackName + " by " + top.artist);
      <img src="top.icon"/>

    </script>
  </head>
  <body>
  </body>
</html>
