<!DOCTYPE html>
<html>
  <head>
    <script src="//www.rdio.com/api/api.js?client_id=VbZ4G9Z-2iTpsUomxNh68w"></script>
    <script type="text/javascript">
      var trackName = '{{ trackData["track"] }}';
      var artist = '{{ trackData["artist"] }}';

      var playSong = function () {
      R.request({
                method: "search",
                content: {
                        types: "Track",
                        count: 10,
                        query: trackName + ", " + artist
                },
                success: function(response) {
                  var length = response.result.results;
                  R.player.queue.clear();
                  for (var i = 0; i < length; i++) {
                    R.player.queue.add(response.result.results[i].key);
                  }
                  R.player.nextSource();
                  R.player.queue.play(0);
                },
                error: function(response) {
                        console.log("error: " + response.message);
                }
            });
      };

      R.ready(function() {
        if(!R.authenticated()) {
          R.authenticate(function (authenticated) {
          if (authenticated) {
            playSong();
          }
        });
      }
      else {
          playSong();
      }
        
      });

      document.write("<strong>You're listening to </strong>");
      document.write(top.trackName + " by " + top.artist);

    </script>
  </head>
  <body>
  </body>
</html>
